# generic excluded patterns
#
# We sort the list below via: sort -d -u
#
*~
*.BAK
core*
.DS_Store
*.dSYM/
*.exe
*.[oa]
*.o.tmp
.*.swp
*,v

# files and directories created during the building of calc and other Makefile actions
#
# NOTE: While many of these might be part of a released calc tarball, they are
#       not consider development source.  Some other file(s) and/or programs
#       generate these files.
#
# We sort the list below via: sort -d -u
#
arc4random_tmp
.cache/clangd
cal/.all
calc
calc.1
calc.cat1
calc.spec
calc-static
calc.usage
cal/test082.cal
chatbit
chk_c
compile_commands.json
compile_flags.txt
conf.h
const_tmp
cscript/4dsphere
cscript/.all
cscript/fproduct
cscript/mersenne
cscript/piforever
cscript/plus
cscript/powerterm
cscript/README
cscript/simple
cscript/square
custom/.all
custom/libcustcalc*
debug.out
.dynamic
endian
endian_calc.h
environ_tmp
errcode
errsym.h
fpos_tmp
fposval
fposval.h
fposval_tmp
func.show
func.sort
getpgid_tmp
getprid_tmp
getsid_tmp
gettime_tmp
have_arc4random
have_arc4random.h
have_ban_pragma
have_ban_pragma.h
have_environ
have_environ.h
have_fpos
have_fpos_pos
have_fpos_pos.h
have_getpgid
have_getpgid.h
have_getsid
have_getsid.h
have_gettime
have_gettime.h
have_offscl
have_offscl.h
have_posscl
have_posscl.h
have_rusage
have_rusage.h
have_statfs
have_statfs.h
have_strlcat
have_strlcat.h
have_strlcpy
have_strlcpy.h
have_sys_mount.h
have_sys_param.h
have_sys_vfs.h
have_unused
have_unused.h
have_urandom.h
have_ustat
have_ustat.h
help/.all
help/binding
help/bindings
help/bug
help/bugs
help/builtin
help/change
help/changes
help/contrib
help/copy
help/COPYING
help/COPYING-LGPL
help/cscript
help/custom_cal
help/errorcode
help/errorcodes
help/full
help/funclist
help/funclist.c
help/ilogn
help/libcalc
help/man
help/new_custom
help/question
help/questions
help/releases
help/resource
help/type
help/usage
.hsrc
junk4200
libcalc.*
libcustcalc.*
ll_tmp
longbits
longbits.h
Makefile.our
newstr_tmp
NOTES
offscl_tmp
outfile
posscl_tmp
rusage_tmp
sample_many
sample_many-static
sample_rand
sample_rand-static
statfs_tmp
.static
status.chk_c.h
strdup_tmp
tags
terminal.h
uid_tmp
unused_tmp
ustat_tmp
ver_calc
.vscode
vs_tmp
win32/
