# generic excluded patterns
#
# We sort the list below via: sort -u -f
#
*,v
*.BAK
*.dSYM/
*.exe
*.[oa]
*~
.*.swp
.DS_Store
core*

# files and directories created during the building of calc and other Makefile actions
#
# NOTE: While many of these might be part of a released calc tarball, they are
#	not consider development source.  Some other file(s) and/or programs
#	generate these files.
#
# We sort the list below via: sort -u -f
#
.dynamic
.hsrc
.static
Makefile.our
NOTES
align32
align32.h
args.h
cal/.all
cal/test082.cal
calc
calc-static
calc.1
calc.spec
calc.usage
charbit.h
chatbit
chk_c
conf.h
const_tmp
cscript/.all
cscript/4dsphere
cscript/README
cscript/fproduct
cscript/mersenne
cscript/piforever
cscript/plus
cscript/powerterm
cscript/simple
cscript/square
custom/.all
custom/libcustcalc*
debug.out
endian
endian_calc.h
errcode
errsym.h
fposval
fposval.h
func.show
func.sort
getpgid_tmp
have_arc4random
have_arc4random.h
have_ban_pragma
have_ban_pragma.h
have_const
have_const.h
have_environ
have_environ.h
have_fgetsetpos.h
have_fpos
have_fpos_pos
have_fpos_pos.h
have_getpgid
have_getpgid.h
have_getprid
have_getprid.h
have_getsid.h
have_gettime
have_gettime.h
have_inttypes.h
have_limits.h
have_memmv
have_memmv.h
have_newstr
have_newstr.h
have_offscl
have_offscl.h
have_posscl
have_posscl.h
have_rusage
have_rusage.h
have_statfs
have_statfs.h
have_stdbool.h
have_stdint.h
have_stdlib.h
have_stdvs
have_strdup
have_strdup.h
have_string.h
have_strlcat
have_strlcat.h
have_strlcpy
have_strlcpy.h
have_sys_mount.h
have_sys_param.h
have_sys_vfs.h
have_times.h
have_uid_t
have_uid_t.h
have_unistd.h
have_unused
have_unused.h
have_urandom.h
have_ustat
have_ustat.h
have_varvs
help/.all
help/COPYING
help/COPYING-LGPL
help/binding
help/bindings
help/bug
help/bugs
help/builtin
help/change
help/changes
help/contrib
help/copy
help/cscript
help/custom_cal
help/errorcode
help/errorcodes
help/full
help/funclist
help/funclist.c
help/ilogn
help/libcalc
help/man
help/new_custom
help/question
help/questions
help/releases
help/resource
help/type
help/usage
libcalc.*
libcustcalc.*
longbits
longbits.h
outfile
sample_many
sample_many-static
sample_rand
sample_rand-static
status.chk_c.h
tags
terminal.h
unused_tmp
ver_calc
win32/
